<ion-content [fullscreen]="true">
  <div class="contenedor">
    <form (ngSubmit)="login()" class="formulario">
      <h1>Iniciar sesión</h1>

      <ion-item class="items">
        <ion-icon name="mail-outline" class="iconos"></ion-icon>
        <ion-input [(ngModel)]="email" name="email" type="email" required placeholder="Ingrese su mail"></ion-input>
      </ion-item>

      <ion-item class="items">
        <ion-icon name="lock-closed-outline" class="iconos"></ion-icon>
        <ion-input [(ngModel)]="password" name="password" type="password" required
          placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login">Ingresar</ion-button>

      <div class="register">
        <p>¿No tienes una cuenta?</p>
        <button routerLink="/register">Regístrate</button>
      </div>
    </form>
  </div>
</ion-content>