.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  
}
ion-title, h2, .tituloImagenes{
    text-align: center;
}

.item {
   min-width: 150px;
    max-height: 400px;
  flex-shrink: 0;
  text-align: center;
  
}

.item img {
    min-width: 150px;
  width: 450px;
  height: 100%;
  border-radius: 30px;
}
ion-card-title{
    text-align: center;
}
.espacio{
    margin: 10px auto;
    --color: black;
}