.contenedor {
  display: flex;
  justify-content: center;
  //align-items: center;
  //height: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); //buscar degradado de la tab1
  //padding: 20px;
  align-items: flex-start;
  min-height: 100%;
  padding: 40px 20px 20px 20px;
}

.formulario {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #757575;
    font-size: 1.8rem;
    font-weight: 600;
  }
}
// Cuando el teclado esté abierto
.keyboard-open .contenedor {
  padding-top: 20px; // Menos padding cuando hay teclado
}
.error-message {
  padding: 0 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  
  small {
    font-size: 12px;
  }
}

.text-error {
  padding: 0 16px;
  text-align: center;
}
.items {
  margin-bottom: 15px;
  --padding-start: 0;
  --background: #ffffff;
  color: #333333cb;
 width: 100%;
  .iconos {
    margin-right: 5px;
    color: #3333336b;
  }
  ion-input {
    --padding-top: 6px !important;
    --padding-bottom: 6px !important;
    min-height: 35px !important;
  }
  .ojo {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    z-index: 10;
    background: transparent;

    .iconos {
      font-size: 20px;
      width: 20px;
      height: 20px;
      color: #3333336b;
      margin-right: 0;
    }
  }
  .ojo_ocultar {
    pointer-events: none;
  }
}


.login {
  --border-radius: 5px;
  --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #ffffff;
  transition: all 0.3s ease;
  font-size: 1rem;
  margin-top: 10px;
}

.login:hover {
  box-shadow: 0 5px 10px rgba(189, 189, 189, 0.822);
  transform: translateY(-2px);
}

.register {
  margin-top: 20px;
  text-align: center;

  p {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 0.9rem;
    color: #c0c0c0;
  }

  button {
    min-width: 100px;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    color: white;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(189, 189, 189, 0.822);
    border-color: #667eea;
  }
}
.text-error{
  padding: 0px;
}
/* 🔹 Responsive: ajusta el tamaño del texto y márgenes en pantallas pequeñas */
@media (max-width: 480px) {
  .register-button {
    font-size: 14px;
    height: 44px;
    max-width: 260px;
  }
}