<ion-content [fullscreen]="true">
  <div class="contenedor">
    <form class="formulario" novalidate>
      <h1>Iniciar sesión</h1>

      <ion-item class="items">
        <ion-icon name="mail-outline" class="iconos"></ion-icon>
        <ion-input [(ngModel)]="email" name="email" type="email" required placeholder="Ingrese su mail"></ion-input>
      </ion-item>
      <ion-item class="items">
        <ion-icon name="lock-closed-outline" class="iconos"></ion-icon>
        <ion-input name="password" [type]="mostrarPassword ? 'text' : 'password'" type="password" [(ngModel)]="password"
          required placeholder="Ingrese su contraseña">
        </ion-input>
        <button type="button" class="ojo" (click)="ocultarContra()">
          <ion-icon [name]="mostrarPassword ? 'eye-outline':'eye-off-outline'" class="iconos"> </ion-icon>
        </button>
      </ion-item>
      <ion-text color="danger" *ngIf="errorMessage">
        <p class="text-error">{{ errorMessage }}</p>
      </ion-text>


      <ion-button expand="block" type="button" (click)="validarLogin()" class="login">Ingresar</ion-button>

      <div class="register">
        <p>¿No tienes una cuenta?</p>
        <button routerLink="/register">Regístrate</button>
      </div>
    </form>
    
  </div>
</ion-content>