<ion-content [fullscreen]="true">
  <!-- Barra de búsqueda -->
  <div class="barra-busqueda">
    <!--input para escribir y buscar juegos en el buscador-->
    <ion-searchbar [(ngModel)]="termino" placeholder="Buscar juegos..." class="edit-searchbar"
      (ionInput)="buscarJuego()"></ion-searchbar>
    <!-- Lista desplegada por cada letra que vamos colocando-->
    <ion-list>
      <ion-item [routerLink]="['/tabs/tab4',juego.id]" *ngFor="let juego of juegos">
        <ion-thumbnail slot="start">
          <img [src]="juego.background_image">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ juego.name }}</h2><!--Nombre del juego dentro de la lista-->
          <p>Lanzamiento: {{ juego.released ?? 'Fecha no disponible' }}</p>
          <!--fecha de lanzamiento del juego dentro de la lista-->
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!-- Juegos sugeridos -->
  <div class="sugerencia">
    <h2>Juegos Sugeridos</h2>
    <ion-list lines="none">
      <ion-item class="sugerencia-juego" *ngFor="let juego of juegosSugeridos" [routerLink]="['/tabs/tab4',juego.id]">
        <ion-avatar slot="start">
          <img [src]="juego.background_image" [alt]="juego.name">
        </ion-avatar>
        <ion-label>
          <h3>{{ juego.name }}</h3>
          <p>Lanzamiento: {{ juego.released ?? 'Fecha no disponible' }}</p>
        </ion-label>
        <ion-badge color="warning" slot="end">{{ juego.rating | number:'1.1-1' }}/5</ion-badge>
      </ion-item>
    </ion-list>
  </div>

</ion-content>