.contenedor{
  max-width: 500px;
  margin: 0 auto;
}
.clase{
  text-align: center;
}
.profile-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .profile-avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }

  ion-item {
    width: 100%;
  }
  .imagenPerfil{
    background-color: black;
  }
  .boton{
    width: 100%;
    max-width: 500px;
  }