<ion-content [fullscreen]="true">
  <div class="contenedor">
    <form (ngSubmit)="register()" class="formulario">
      <h1>Registro</h1>


      <div class="subtitle">
        <ion-icon name="person-outline" class="iconos"></ion-icon>
        <p>Nombre de usuario:</p>
      </div>
      <ion-item class="items">
        <ion-input placeholder="usuario" [(ngModel)]="nombreUsuario" name="nombre" type="nickname" required></ion-input>
      </ion-item>
      <!-- ------------------->

      <!-- genero -->
      <div class="subtitle">
        <ion-icon name="mail-outline" class="iconos"></ion-icon>
        <p>Genero:</p>
      </div>
      <ion-item class="items">
        <ion-input placeholder="*Genero" [(ngModel)]="sexo" name="sexo" type="text" required></ion-input>
      </ion-item>

      <!-- --------------------- -->
      <div class="subtitle">
        <ion-icon name="mail-outline" class="iconos"></ion-icon>
        <p>Email:</p>
      </div>
      <ion-item class="items">
        <ion-input placeholder="*email" [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>

      <!-- ------------------- -->
      <div class="subtitle">
        <ion-icon name="lock-closed-outline" class="iconos"></ion-icon>
        <p>Contraseña:</p>
      </div>
      <ion-item class="items">
        <ion-input [(ngModel)]="password" name="password" type="password" required
          placeholder="Más de 6 carácteres"></ion-input>
      </ion-item>
      <!-- --------------------- -->

      <div class="subtitle">
        <ion-icon name="lock-closed-outline" class="iconos"></ion-icon>
        <p>Contraseña:</p>
      </div>
      <ion-item class="items">
        <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required
          placeholder="Más de 6 carácteres"></ion-input>
      </ion-item>



      <div class="register">
        <p>¿Ya tienes una cuenta?</p>
        <button routerLink="/login">Inicia sesión</button>
      </div>
      <div class="register">
        <button type="submit" expand="block" style="width: 300px; height: 50px;" color="secondary">Registrarse</button>
      </div>
      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>
    </form>
  </div>
</ion-content>