<ion-content [fullscreen]="true">
  <div class="contenedor">
    <form (ngSubmit)="register()" class="formulario">
      <h1>Registro</h1>

      <ion-item class="items">
        <ion-icon name="person-outline" class="iconos"></ion-icon>
        <ion-input placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario" name="nombre" type="nickname"
          required></ion-input>
      </ion-item>
      <!-- ------------------->

      <!-- genero -->
      <ion-item class="items">
        <ion-icon name="accessibility-outline" class="iconos"></ion-icon>
        <ion-input placeholder="Ingrese su genero" [(ngModel)]="sexo" name="sexo" type="text" required></ion-input>
      </ion-item>

      <!-- --------------------- -->
      <ion-item class="items">
        <ion-icon name="mail-outline" class="iconos"></ion-icon>
        <ion-input placeholder="Ingrese su email" [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>

      <!-- ------------------- -->
      <ion-item class="items">
        <ion-icon name="lock-closed-outline" class="iconos"></ion-icon>
        <!--<ion-input [(ngModel)]="password" name="password" type="password" required
          placeholder="Más de 6 carácteres"></ion-input>-->

        <ion-input name="password" [type]="mostrarPassword ? 'text' : 'password'" type="password" [(ngModel)]="password"
          required placeholder="Ingrese su contraseña">
        </ion-input>
        <button type="button" class="ojo" (click)="ocultarContra()">
          <ion-icon [name]="mostrarPassword ? 'eye-outline':'eye-off-outline'" class="iconos"> </ion-icon>
        </button>
      </ion-item>
      <!-- --------------------- -->

      <ion-item class="items">
        <ion-icon name="lock-closed-outline" class="iconos"></ion-icon>
        <ion-input name="confirmPassword" [type]="mostrarConfirmPassword ? 'text' : 'password'" type="password"
          [(ngModel)]="confirmPassword" required placeholder="Verifique su contraseña">
        </ion-input>

        <button type="button" class="ojo" (click)="ocultarConfirmContra()">
          <ion-icon [name]="mostrarConfirmPassword ? 'eye-outline':'eye-off-outline'" class="iconos"> </ion-icon>
        </button>
      </ion-item>
      <ion-text color="danger" *ngIf="errorMessage">
        <p class="text-error">{{ errorMessage }}</p>
      </ion-text>


      <ion-button expand="block" type="submit" (click)="register()" class="register">Registrarse</ion-button>

      <div class="login">
        <p>¿Ya tienes una cuenta?</p>
        <button type="button" [routerLink]="['/login']">Inicia sesion</button>
      </div>

    </form>
  </div>
</ion-content>