<ion-content [fullscreen]="true">



  <div class="login-container">

    <div class="avatar">
      <img src="../../assets/icon/avatar.png" alt="Icono_Persona">
    </div>
    <div class="formulario">
      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_usuario.png" alt="nombre_icon">
        <ion-input placeholder="Nombre..." [(ngModel)]="nombre" type="text"></ion-input>
      </ion-item>

      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_usuario.png" alt="apellido_icon">
        <ion-input placeholder="Nacionalidad" [(ngModel)]="nacionalidad" type="text"></ion-input>
      </ion-item>

      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_gmail.png" alt="usuario_icon">
        <ion-input [(ngModel)]="email" placeholder="Correo electrónico" type="email"></ion-input>
      </ion-item>

      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_candado.png" alt="icono_candado">
        <ion-input [(ngModel)]="password" placeholder="Contraseña" type="password" required></ion-input>
      </ion-item>

      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_candado.png" alt="icono_candado">
        <ion-input placeholder="Verificar contraseña" [(ngModel)]="confirmPassword" type="password" required>
        </ion-input>
      </ion-item>
      <a class="texto_tener_login" href="/tabs/login">
        <p>¿Ya tienes una cuenta? ¡Inicia sesion!</p>
      </a>

      <ion-button expand="block" color="secondary" (click)="register()">Registro</ion-button>
      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>
    </div>
  </div>
</ion-content>