.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets//fondo.jpeg');
  padding: 20px;
}

.formulario {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: grey;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.subtitle {
  display: flex;
  ion-icon {
    margin-right: 8px;
    color: #000;
  }

  p {
    font-size: 1rem;
    color: #000;
    margin: 0;
  }
}

.items {
  margin-bottom: 20px;
  --padding-start: 0;
  --background: #fff;
  color: #333;
  --min-height: 35px;
width: 100%;
  .iconos {
    margin-right: 5px;
    color: #333;
  }

  ion-input {
    --padding-top: 6px !important;
    --padding-bottom: 6px !important;
    min-height: 35px !important;
  }

}

.login {
  --border-radius: 5px;
  --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #ffffff;
  font-size: 1rem;
}

.login:hover {
  box-shadow: 0 5px 10px rgba(189, 189, 189, 0.822);
}

.register {
  margin-top: 30px;
  text-align: center;

  p {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 0.9rem;
    color: #c0c0c0;
  }

  button {
    min-width: 100px;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    color: white;
    background: #ffc107;
    width: 100%;
    height: 100%;
    min-height: 60px;
    color: black;
    font-size: 20px;
  }
}

.select-genero {
  width: 100%;
  .genero {
    width: 100%;
    border: none;
    background: transparent;
    appearance: none;
    outline: none;
  }
  
  .flecha-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
}
  

